<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Message Page</title>
  </head>
  <body>
    <h1>Message Form</h1>
    <form action="/message" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea><br /><br />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
